<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - criptowebbcc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/criptowebbcc.styles.css" asp-append-version="true" />
</head>
<body class="bg-warning  bg-opacity-25">
     <header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3  bg-danger bg-opacity-25">
            <div class="container-fluid bg-success bg-opacity-50">
                <a class="navbar-brand text-bg-primary" asp-area="" asp-controller="Home" asp-action="Index">Sistema WEB Cripto Moeda</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class=" nav-link dropdown-toggle text-bg-primary" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Moedas" asp-action="Index">Moedas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contas" asp-action="Index">Contas</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Transacoes" asp-action="Index">Transações</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <img src="./images/fema.png" width="200" class="rounded mx-auto d-block" alt="...">
                </div>

            </div>
        </nav>
    </header>
    <div class="container bg-primary bg-opacity-25">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark bg-opacity-25">
        <div class="container">
            &copy; 2022 - criptowebbcc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
