<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Sistema Criptomoeda FEMA BCC</h1>
        <hr />
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        <hr />
        <h7>FEMA Corporation - 2022</h7>
    </div>
</body>
</html>
